<div>


    <div class='row' id='MainTop'>
        <div class="text-block row" id="TextAboveLogo">
            <h2>San Diego Concentr8s</h2>
        </div>
        <div class='row' style="padding-bottom: 10px; margin-bottom: 10px">
            <img src="./assets/images/MainLogo.png" width="384" height="216" class='img-fluid imagecontainer' id='MainImage'>
        </div>


    </div>

    <div class='container-fluid' style="padding-bottom: 10px">
        <div class='row'>

            <div class='col-sm-2'>

            </div>

            <div class='col-sm-4'>
                <div class='row'>
                    <h1>Have a Question?<br>
                        Send Us a Email</h1>

                </div>
                <div class='row'>
                    <h2>Don't Hesitate to<br>
                        contact me with any questions</h2>
                        <br>
                        <h4>We will get back to you ASAP</h4>
                </div>

            </div>


            <div class='col-sm-5 col-md-5' id='Contact'>
                <div class='row'>
                    <h1>Contact me!</h1>
                </div>


                <form>
                    <div class="form-group">
                        <label for="FirstName">First Name</label>
                        <input type="FirstName" class="form-control" id="FirstName" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label for="LastName">Last Name</label>
                        <input type="LastName" class="form-control" id="LastName" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <label for="Email">Email address</label>
                        <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="Subject">Subject</label>
                        <input type="Subject" class="form-control" id='Subject' placeholder="Subject">
                    </div>
                    <label for="Message">Message</label>
                    <div class="input-group">
                        <textarea class="form-control" id="Message" aria-label="With textarea"></textarea>
                    </div><label for=""></label>
                    <div class="input-group">
                        <a type='button' id='ContactButton' href='#' class="btn btn-primary">Submit</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>