
.blue {
  color: blue;
}

.imagecontainer {
  position: relative;
}

#MainImage{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

#MainTop {
  background-color: black;
}
.text-block {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  background-color: black;
  color: white;
  opacity: 0.8;
  text-align: center;
  font-size: 18px;
}

.nav.navbar-nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
@media (min-width: 768px) {
	.navbar-nav {
		float: none;
	}
}


@media only screen and (max-width: 600px) {
  
  .text-block {
      
      top: 20%
  
  }
}